<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hackathon Nov 2017</title>
        <script src="lib/vue.min.js"></script>
    </head>
    <body>
        <div id="calculator" style="width:500px;">
            <div class="container">
                <form action="">
                    <h1 style="font-size: 2.4rem; margin: auto;margin-left:9px;" >Per User Pricing Calculator</h1>
                    <input name="enterprise" v-model="enterpriseSelected" type="checkbox" class="filled-in" id="filled-in-box1" />
                    <label for="filled-in-box1">Enterprise</label>
                    <div v-if="enterpriseSelected === false">
                        <div style="position:relative">
                            <h3>Products:</h3>
                            <div style="position: absolute;left: 67px;top: 2px;">

                                <input name="projects" v-model="projectsSelected"type="checkbox" class="filled-in" id="filled-in-box1" />
                                <label for="filled-in-box1">Projects</label>

                                <input name="desk" v-model="deskSelected" type="checkbox" class="filled-in" id="filled-in-box2" />
                                <label for="filled-in-box2">Desk</label>

                            </div>
                            <hr />
                        </div>
                        <!-- projects -->
                        <div v-if="projectsSelected === true">
                            <h2>Projects</h2>
                            <label for="durationProjects">Duration</label>
                            <select name="durationProjects" v-model.number="durationProjects">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="11.25">Monthly</option>
                                <option value="9">Annual</option>
                            </select>
                            <br/>
                            <label for="pricePlanProjects">Price Plan</label>
                            <select name="pricePlanProjects" v-model="pricePlanProjects">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="pro">Pro</option>
                            </select>
                            <br/>
                            <label for="users">Number of users (min=5 / max=100)</label>
                            <input type="number" min="5" max="100" name="users" v-model.number="users"/>
                        </div>
                        <!--  Desk -->
                        <div v-if="deskSelected === true">
                            <h2>Desk</h2>
                            <label>Duration</label>
                            <select v-model="durationDesk" v-model="durationDesk">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="monthly">Monthly</option>
                                <option value="annual">Annual</option>
                            </select>
                            <br/>
                            <label>Price Plan</label>
                            <select v-model="pricePlanDesk" v-model="pricePlanDesk">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="basic">Basic</option>
                                <option value="pro">Pro</option>
                            </select>
                            <br/>
                            <label for="agents">Number of agents (max=100)</label>
                            <input type="number" min="0" max="100" name="agents" v-model.number="agents"/>
                            <br/>
                            <label for="helpdocSites">Helpdoc Sites (First is free!)</label>
                            <input type="number" min="0" name="helpdocSites" v-model.number="helpdocSites"/>
                        </div>
                    </div>
                    <!-- Enterprise -->
                    <div v-if="enterpriseSelected === true">
                        <h2>Enterprise</h2>
                        <label for="quote">Quote Number</label>
                        <input type="text" name="quote"><br>
                        <label for="agent">Agent</label>
                        <input type="text" name="agent"><br>
                        <label for="agentEmail">Agent Email</label>
                        <input type="text" name="agentEmail"><br>
                        <label for="companyName">Company Name</label>
                        <input type="text" name="companyName"><br>
                        <label for="contactName">Contact Name</label>
                        <input type="text" name="contactName"><br>
                        <label for="contactEmail">Contact Email</label>
                        <input type="text" name="contactEmail"><br>
                        <label for="expirationDate">Expiration Date</label>
                        <input type="date" name="expirationDate"><br>
                        <label for="agents">Number of Project's Users</label>
                        <select name="projectsUsers" v-model.number="projectsUsers">
                            <option value="6000">25</option>
                            <option value="27000">100</option>
                            <option value="51000">200</option>
                            <option value="72000">300</option>
                            <option value="90000">400</option>
                            <option value="105000">500</option>
                            <option value="120000">600</option>
                            <option value="130000">700</option>
                            <option value="145000">800</option>
                            <option value="155000">900</option>
                            <option value="165000">1000</option>
                            <option value="225000">1500</option>
                            <option value="337500">Unlimited</option>
                        </select><br>
                        <label for="additionalProjectsUsers">Number of Additional Project's Users</label>
                        <input type="number" min="0" max="100" name="additionalProjectsUsers" v-model.number="additionalProjectsUsers"/><br>
                        <label for="deskAgents">Number of Desk Users</label>
                        <input type="number" min="0" max="100" name="deskAgents" v-model.number="deskAgents"/><br>
                        <label for="years">Years</label>
                        <input type="number" min="0" name="years" v-model.number="years"/><br>
                        <label for="notes">Notes</label><br>
                        <textarea name="notes" v-model.number="notes"></textarea><br>
                        <br />
                    </div>
                    <hr/>
                    <h2>Discount</h2>
                    Education discount? (15%)<input type="checkbox" name="eduDiscount" v-model="eduDiscount"><br />
                    <div v-if="eduDiscount === false">
                        <label for="rate">Custom Discount</label>
                        <input type="number" max="50" name="customDiscount" v-model.number="customDiscount"/>
                    </div>
                </form>
                <hr />
                <div class="payment">{{ calcPayment }} / year</div>
            </div>
        </div>
        <script src="js/background.js"></script>
    </body>
</html>
